begoodPlus/db.sqlite3


**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/__pycache__/**
*.pyc
begoodPlus/begoodPlus/__pycache__/settings.cpython-38.pyc
begoodPlus/begoodPlus/__pycache__/settings.cpython-38.pyc
begoodPlus/category/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/color/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/order/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/order_detail/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/packingType/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/product/__pycache__/models.cpython-38.pyc
begoodPlus/product/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/productColor/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/productImages/__pycache__/admin.cpython-38.pyc
begoodPlus/productImages/__pycache__/models.cpython-38.pyc
begoodPlus/productImages/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/productSize/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/provider/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/productColor/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/stock/migrations/__pycache__/0001_initial.cpython-38.pyc
begoodPlus/begoodPlus/__pycache__/settings.cpython-38.pyc
begoodPlus/begoodPlus/__pycache__/settings.cpython-38.pyc
begoodPlus/catalogImages/migrations/0001_initial.py
begoodPlus/begoodPlus/__pycache__/settings.cpython-38.pyc
begoodPlus/begoodPlus/__pycache__/urls.cpython-38.pyc
begoodPlus/stock/__pycache__/admin.cpython-38.pyc
begoodPlus/stock/__pycache__/models.cpython-38.pyc
begoodPlus/catalogImages/migrations/0001_initial.py
begoodPlus/begoodPlus/secrects.py
