
.catalog {
    background-color: rgb(61, 61, 61);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}
.title{
    padding-top: 5px;
    color: wheat;
    text-align: center;
    font-size: 2rem;
}
.slick-slider {
    margin-bottom: 0px!important;
}
.slick-dots li button:before {
    color:white;
}

.slick-slider {
  .my-slick-slide {
    position: relative;
    img {
      width: 100%;
      height: auto;
      padding: 5px;

      &:hover {
        transform: scale(1.1);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        

        
      }
      &:hover + .img-title {
        transition: transform 0.2s;
        transform: translate(-50%, -80%);
        font-weight: 700;
      }
    }
    .img-title {
      position: absolute;
      color: white;
      z-index: 2000;
      top: 0px;
      transform: translate(-50%, -50%);
      top: 50%;
      font-size: 1.5em;
      
      left: 50%;
      pointer-events: none;
      text-align: center;
    }
  }
}
#catalogModal {
  .close {
    border: 0;
    background: none;
    padding: 0;
    font-size: 2em;
    &:hover {
      color:red;
    }
  }
  .inner-body {
    display: flex;
    flex-direction: row;

    
    .product-detail {
      //padding-right: 5px;
      min-width: 35%;
      padding-left:30px;
      .product-color {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        display: flex;
        flex-direction: row;
        .color-box {
          margin: 3px;
          width: 25px;
          height: 25px;
          border: 1px black solid;
          &:hover {
            border: 2px red solid;
          }
        }
      }

      .product-size {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        .size-box {
          border: 1px black solid;
          margin: 3px;
          width: 30px;
          text-align: center;
          font-weight: 700;
          &:hover {
            background-color: #3D3D3D;
            color:white
          }
        }
      }

    }
    .img-wraper {
      img {
        width: 450px;
      }
    }
  }
}
/*

.slick-dots-container {
    width: 5.5rem;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0.625rem auto;
    height: 0.875rem;
    position: relative;
  }
  
  .slick-dots-container > ul {
    padding: 0;
    display: flex;
    transition: all 0.25s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;
  }
  
  .slick-dots-container > ul li {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.25rem;
    background-color: #efd5d5;
    border: none;
    border-radius: 50%;
  }
  
  .slick-dots-container > ul li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.3125rem;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }
  
  .slick-dots-container > ul li.p-small-1,
  .slick-dots-container > ul li.n-small-1 {
    transform: scale(0.8);
  }
  
  .slick-dots-container > ul li.slick-active {
    transform: scale(1.3);
    transform-origin: center;
    background: #3498db;
  }
  
  .slick-dots li button:before {
    display: none;
  }
  */