.catalog {
  background-color: #3d3d3d;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}

.title-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-wraper .title {
  margin-top: 25px;
  color: wheat;
  text-align: center;
  font-size: 2rem;
  width: 70%;
}

.slick-dots li button:before {
  color: white;
}

.slick-slider {
  margin-bottom: 0px !important;
}

.slick-slider .my-slick-slide {
  position: relative;
}

.slick-slider .my-slick-slide img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.slick-slider .my-slick-slide img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.slick-slider .my-slick-slide img:hover + .img-title {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-weight: 700;
}

.slick-slider .my-slick-slide .img-title {
  position: absolute;
  display: none;
  color: white;
  z-index: 2000;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5em;
  left: 50%;
  pointer-events: none;
  text-align: center;
}

.modal .close {
  border: 0;
  background: none;
  padding: 0;
  font-size: 2em;
}

.modal .close:hover {
  color: red;
}

.modal .modal-header {
  background: #ffd880;
}

.modal .modal-footer {
  background: #ffd880;
}

#catalogModal .inner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#catalogModal .inner-body .product-detail {
  min-width: 35%;
  padding-left: 30px;
}

#catalogModal .inner-body .product-detail .product-title {
  font-size: 1.6em;
  font-weight: bold;
}

#catalogModal .inner-body .product-detail .product-description {
  max-height: 120px;
  overflow-y: auto;
}

#catalogModal .inner-body .product-detail .product-color {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

#catalogModal .inner-body .product-detail .product-color .color-box {
  margin: 3px;
  width: 25px;
  height: 25px;
  border: 1px black solid;
}

#catalogModal .inner-body .product-detail .product-color .color-box:hover {
  border: 2px red solid;
}

#catalogModal .inner-body .product-detail .product-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#catalogModal .inner-body .product-detail .product-size .size-box {
  border: 1px black solid;
  margin: 3px;
  min-width: 30px;
  text-align: center;
  font-weight: 700;
}

#catalogModal .inner-body .product-detail .product-size .size-box:hover {
  background-color: #3D3D3D;
  color: white;
}

#catalogModal .inner-body .img-wraper img {
  width: 450px;
}

#catalogModal .modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#catalogModal .modal-footer #modal-add-btn:disabled {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

#categoryModal .category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categoryModal .category-items .category-item {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */