:root {
  --like-font-size: 30px;
}

.like-wrapper {
  /*position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.like-wrapper a {
  width: 100%;
  display: block;
  /*width: 200px;
    height: 40px;*/
  line-height: 40px;
  font-size: 1.2em;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.like-wrapper a span {
  position: relative;
  z-index: 2;
}

.like-wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.like-wrapper a:hover {
  color: #fff;
}

.like-wrapper a:hover:after {
  width: 100%;
}

.like-wrapper.isAdded a {
  color: #eee;
}

.like-wrapper.isAdded a:hover {
  color: white;
}

.like-wrapper.isAdded a:after {
  width: 100%;
  height: 100%;
}

.catalog {
  background: url("../imgs/catalogBg1.jpeg");
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imgs/catalogBg1.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/catalogBg1.jpeg");
  overflow: hidden;
  background-size: 50%;
  background-position: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}

.title-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-wraper .title {
  opacity: 0.5;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  width: 70%;
  border-radius: 30px;
}

.title-wraper .title:hover {
  opacity: 1;
}

.slick-dots li button:before {
  color: white;
}

.slick-slider {
  margin-bottom: 0px !important;
}

.slick-slider .wraper-my-slick-slide:hover {
  background-color: black;
}

.slick-slider .my-slick-slide {
  cursor: pointer;
  /*
    .like-btn {
      //position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 1;
      z-index: 2;
      width: 100%;
      .fa-heart{
        position: relative;
        font-size: var(--like-font-size);
        -webkit-text-stroke: 2px #e5e5e5;
        color: whitesmoke;
        transition: all ease-in-out;
        bottom: 0;
        z-index: 3;
      }
    }
    
    .like-btn:hover .fa-heart {
      color: transparent;
    }
    
    &.checked .fa-heart{
      color: red;
      -webkit-text-stroke: 1px red;
      animation: .5s linear burst; 
    }
    */
  position: relative;
}

.slick-slider .my-slick-slide.checked .like-wrapper a {
  color: #eee;
}

.slick-slider .my-slick-slide.checked .like-wrapper a:hover {
  color: white;
}

.slick-slider .my-slick-slide.checked .like-wrapper a:after {
  width: 100%;
  height: 100%;
}

.slick-slider .my-slick-slide img {
  width: 100%;
  height: auto;
  padding: 5px;
  -webkit-filter: none !important;
          filter: none !important;
}

.slick-slider .my-slick-slide img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.slick-slider .my-slick-slide img:hover + .img-title {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-weight: 700;
}

.slick-slider .my-slick-slide .img-title {
  position: absolute;
  display: none;
  color: white;
  z-index: 2000;
  bottom: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5em;
  left: 50%;
  pointer-events: none;
  text-align: center;
}

.modal .close {
  border: 0;
  background: none;
  padding: 0;
  font-size: 2em;
}

.modal .close:hover {
  color: red;
}

.modal .modal-header {
  background: #ffd880;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 2.5em;
}

.modal .modal-body {
  background: url("../imgs/catalogBg1.jpeg");
  overflow: hidden;
  background-size: 50%;
  background-position: center;
}

.modal .modal-footer {
  background: #ffd880;
}

#catalogModal .modal-body {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

#catalogModal .inner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#catalogModal .inner-body .product-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 35%;
  padding-left: 30px;
}

#catalogModal .inner-body .product-detail .product-title {
  font-size: 2em;
  font-weight: bolder;
}

#catalogModal .inner-body .product-detail .product-description {
  max-height: 120px;
  overflow-y: auto;
  font-size: 1.3em;
  font-weight: bold;
}

#catalogModal .inner-body .product-detail .product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
        flex-wrap: wrap;
        flex-direction: row-reverse;
        display: flex;
        flex-direction: row;*/
}

#catalogModal .inner-body .product-detail .product-color .color-box {
  margin: 3px;
  width: 25px;
  height: 25px;
  border: 1px black solid;
}

#catalogModal .inner-body .product-detail .product-color .color-box:hover {
  border: 2px red solid;
}

#catalogModal .inner-body .product-detail .product-size {
  /*
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#catalogModal .inner-body .product-detail .product-size .size-box {
  border: 1px black solid;
  margin: 3px;
  min-width: 30px;
  text-align: center;
  font-weight: 700;
}

#catalogModal .inner-body .product-detail .product-size .size-box:hover {
  background-color: #3D3D3D;
  color: white;
}

#catalogModal .inner-body .img-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#catalogModal .inner-body .img-wraper img {
  width: 450px;
  float: left;
}

#catalogModal .modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#catalogModal .modal-footer #modal-add-btn.isAdded {
  /*
        color: #fff;
        background-color: #398439;
        border-color: #255625;
        animation: 5s linear burst;  
        animation-duration: 5000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear; */
}

@-webkit-keyframes addToCartAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes addToCartAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#categoryModal .modal-content {
  max-height: 80vh;
}

#categoryModal .modal-body {
  overflow-y: scroll;
}

#categoryModal .modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#categoryModal .category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categoryModal .category-items .category-item {
  padding: 5px;
  position: relative;
}

#categoryModal .category-items .category-item:hover {
  background-color: black;
}

#categoryModal .category-items .category-item img {
  height: auto;
  padding: 5px;
}

#categoryModal .category-items .category-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

#categoryModal .category-items .category-item img:hover + .img-title {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-weight: 700;
}

#categoryModal .category-items .category-item .img-title {
  position: absolute;
  display: none;
  color: white;
  z-index: 2000;
  bottom: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5em;
  left: 50%;
  pointer-events: none;
  text-align: center;
}

#categoryModal .category-items .category-item .like-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  z-index: 2;
  width: 100%;
}

#categoryModal .category-items .category-item .like-btn .fa-heart {
  position: relative;
  font-size: var(--like-font-size);
  -webkit-text-stroke: 2px #e5e5e5;
  color: whitesmoke;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  bottom: 0;
  z-index: 3;
}

#categoryModal .category-items .category-item .like-btn:hover .fa-heart {
  color: red;
  -webkit-text-stroke: 1px red;
  -webkit-animation: .5s linear burst;
          animation: .5s linear burst;
}

#categoryModal .category-items .category-item.checked .fa-heart {
  color: red;
  -webkit-text-stroke: 1px red;
  -webkit-animation: .5s linear burst;
          animation: .5s linear burst;
}

.contact-form-wraper2 {
  background-color: #FFD880;
}

@-webkit-keyframes burst {
  0%,
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
    color: lavender;
  }
  45% {
    -webkit-transform: scale(0.2) rotate(30deg);
            transform: scale(0.2) rotate(30deg);
    opacity: .75;
  }
  50% {
    -webkit-transform: scale(2) rotate(-37.5deg);
            transform: scale(2) rotate(-37.5deg);
    opacity: 1;
    color: red;
    text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
  }
  90%,
  95% {
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
    text-shadow: none;
  }
  100% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
}

@keyframes burst {
  0%,
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
    color: lavender;
  }
  45% {
    -webkit-transform: scale(0.2) rotate(30deg);
            transform: scale(0.2) rotate(30deg);
    opacity: .75;
  }
  50% {
    -webkit-transform: scale(2) rotate(-37.5deg);
            transform: scale(2) rotate(-37.5deg);
    opacity: 1;
    color: red;
    text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
  }
  90%,
  95% {
    -webkit-transform: scale(1) rotate(10deg);
            transform: scale(1) rotate(10deg);
    text-shadow: none;
  }
  100% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
}

#likedProductsModal .modal-body {
  max-height: 80vh;
  overflow: scroll;
}

#likedProductsModal .modal-body #cartProductsList ul li {
  background: #FFD880;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#likedProductsModal .modal-body #cartProductsList ul li button {
  border: 0;
  background-color: transparent;
}

#likedProductsModal .modal-body #cartProductsList ul li button:hover {
  color: red;
}

@media (min-width: 576px) {
  #ImageProductsModal .modal-dialog {
    max-width: 80vw;
  }
}

#ImageProductsModal .modal-dialog .modal-content {
  max-height: 100vh;
}

#ImageProductsModal .modal-dialog .modal-content .modal-body {
  padding: 0px;
  /*overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: center;*/
}

#ImageProductsModal .modal-dialog .modal-content .modal-body img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 0px;
}
/*# sourceMappingURL=style.css.map */