.catalog {
  background: url("../imgs/catalogBg1.jpeg");
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../imgs/catalogBg1.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/catalogBg1.jpeg");
  overflow: hidden;
  background-size: 20%;
  background-position: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}

.title-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-wraper .title {
  opacity: 0.5;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  width: 70%;
  border-radius: 30px;
}

.title-wraper .title:hover {
  opacity: 1;
}

.slick-dots li button:before {
  color: white;
}

.slick-slider {
  margin-bottom: 0px !important;
}

.slick-slider .my-slick-slide {
  position: relative;
}

.slick-slider .my-slick-slide:hover {
  background-color: black;
}

.slick-slider .my-slick-slide img {
  width: 100%;
  height: auto;
  padding: 5px;
  -webkit-filter: none !important;
          filter: none !important;
}

.slick-slider .my-slick-slide img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.slick-slider .my-slick-slide img:hover + .img-title {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-weight: 700;
}

.slick-slider .my-slick-slide .img-title {
  position: absolute;
  display: none;
  color: white;
  z-index: 2000;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5em;
  left: 50%;
  pointer-events: none;
  text-align: center;
}

.modal .close {
  border: 0;
  background: none;
  padding: 0;
  font-size: 2em;
}

.modal .close:hover {
  color: red;
}

.modal .modal-header {
  background: #ffd880;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 2.5em;
}

.modal .modal-body {
  background: url("../imgs/catalogBg1.jpeg");
  overflow: hidden;
  background-size: 20%;
  background-position: center;
}

.modal .modal-footer {
  background: #ffd880;
}

#catalogModal .modal-body {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

#catalogModal .inner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#catalogModal .inner-body .product-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 35%;
  padding-left: 30px;
}

#catalogModal .inner-body .product-detail .product-title {
  font-size: 2em;
  font-weight: bolder;
}

#catalogModal .inner-body .product-detail .product-description {
  max-height: 120px;
  overflow-y: auto;
  font-size: 1.3em;
  font-weight: bold;
}

#catalogModal .inner-body .product-detail .product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
        flex-wrap: wrap;
        flex-direction: row-reverse;
        display: flex;
        flex-direction: row;*/
}

#catalogModal .inner-body .product-detail .product-color .color-box {
  margin: 3px;
  width: 25px;
  height: 25px;
  border: 1px black solid;
}

#catalogModal .inner-body .product-detail .product-color .color-box:hover {
  border: 2px red solid;
}

#catalogModal .inner-body .product-detail .product-size {
  /*
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#catalogModal .inner-body .product-detail .product-size .size-box {
  border: 1px black solid;
  margin: 3px;
  min-width: 30px;
  text-align: center;
  font-weight: 700;
}

#catalogModal .inner-body .product-detail .product-size .size-box:hover {
  background-color: #3D3D3D;
  color: white;
}

#catalogModal .inner-body .img-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#catalogModal .inner-body .img-wraper img {
  width: 450px;
  float: left;
}

#catalogModal .modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#catalogModal .modal-footer #modal-add-btn:disabled {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

#categoryModal .category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categoryModal .category-items .category-item {
  padding: 5px;
  position: relative;
}

#categoryModal .category-items .category-item:hover {
  background-color: black;
}

#categoryModal .category-items .category-item img {
  height: auto;
  padding: 5px;
}

#categoryModal .category-items .category-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

#categoryModal .category-items .category-item img:hover + .img-title {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-weight: 700;
}

#categoryModal .category-items .category-item .img-title {
  position: absolute;
  display: none;
  color: white;
  z-index: 2000;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5em;
  left: 50%;
  pointer-events: none;
  text-align: center;
}

.contact-form-wraper2 {
  background-color: #FFD880;
}
/*# sourceMappingURL=style.css.map */