
:root {
  $fade-grey: #ededed;
  $grey: #111;
  $muted-grey: #999;
  $heart: #ff4f8f;
  $white: #fff;
  --like-font-size: 30px;

}

.catalog {
    //background-color: #FFFDD1;//rgb(61, 61, 61);
    background: url('../imgs/catalogBg1.jpeg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../imgs/catalogBg1.jpeg');
    overflow: hidden;
    background-size: 50%;
    background-position: center;

    //mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgb(0, 0, 0));
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}
.title-wraper {
  display: flex;
  justify-content: center;
  .title{
      opacity: 0.5;
      background-color: #0d6efd;
      border-color: #0d6efd;
      margin-top: 25px;
      color: white;
      font-weight: bold;
      
      text-align: center;
      font-size: 2rem;
      width: 70%;
      border-radius: 30px;
      &:hover {
        opacity: 1;
      }
  }
}
.slick-dots li button:before {
    color:white;
}

.slick-slider {



  margin-bottom: 0px!important;
  .wraper-my-slick-slide {
    &:hover {
      background-color: black;
    }
    
    
  }
  .my-slick-slide {
    .like-btn {
      //position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 1;
      z-index: 2;
      width: 100%;
      .fa-heart{
        position: relative;
        font-size: var(--like-font-size);
        -webkit-text-stroke: 2px #e5e5e5;
        color: whitesmoke;
        transition: all ease-in-out;
        bottom: 0;
        z-index: 3;
      }
    }
    
    .like-btn:hover .fa-heart {
      color: transparent;
      /*-webkit-text-stroke: 1px red;
      animation: .5s linear burst; */
    }
    
    &.checked .fa-heart{
      color: red;
      -webkit-text-stroke: 1px red;
      animation: .5s linear burst; 
    }


    
    
    position: relative;
    img {
      width: 100%;
      height: auto;
      padding: 5px;
      filter: none !important;
      &:hover {
        transform: scale(1.1);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
      }


      &:hover + .img-title {
        display: block;
        transition: transform 0.2s;
        //transform: translate(-50%, -80%);
        font-weight: 700;
      }
    }
    .img-title {
      position: absolute;
      display: none;
      color: white;
      z-index: 2000;
      bottom: 50%;
      transform: translate(-50%, 0%);
      //top: 0px;
      font-size: 1.5em;
      
      left: 50%;
      pointer-events: none;
      text-align: center;
    }
  }
}
.modal {
  .close {
    border: 0;
    background: none;
    padding: 0;
    font-size: 2em;
    &:hover {
      color:red;
    }
  }
  .modal-header {
    background: #ffd880;
    padding-top: 0px;
    padding-bottom: 0px;
    .modal-title {
      font-weight: 700;
      font-size: 2.5em;
    }
  }
  .modal-body{ 
    background: url('../imgs/catalogBg1.jpeg');
    //background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/catalogBg1.jpeg');
    overflow: hidden;
    background-size: 50%;
    background-position: center;
  }
  .modal-footer {
    background: #ffd880;
  }
}
#catalogModal {
  .modal-body {
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
  }
  .inner-body {
    display: flex;
    flex-direction: row;

    
    .product-detail {
      //padding-right: 5px;
      flex:1;
      min-width: 35%;
      padding-left:30px;
      .product-title {
        font-size: 2em;
        font-weight: bolder;
      }
      .product-description {
        max-height: 120px;
        overflow-y: auto;
        font-size: 1.3em;
        font-weight: bold;
      }
      .product-color {
        display: flex;
        flex-wrap: wrap;
        /*
        flex-wrap: wrap;
        flex-direction: row-reverse;
        display: flex;
        flex-direction: row;*/
        .color-box {
          margin: 3px;
          width: 25px;
          height: 25px;
          border: 1px black solid;
          &:hover {
            border: 2px red solid;
          }
        }
      }

      .product-size {
        /*
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;*/
        display: flex;
        flex-wrap: wrap;
        .size-box {
          border: 1px black solid;
          margin: 3px;
          min-width: 30px;
          text-align: center;
          font-weight: 700;
          &:hover {
            background-color: #3D3D3D;
            color:white
          }
        }
      }

    }
    .img-wraper {
      flex:1;
      img {
        width: 450px;
        float: left;
      }
    }
  }

  .modal-footer {
    justify-content: space-between;
    #modal-add-btn {
      &.isAdded {
        color: #fff;
        background-color: #398439;
        border-color: #255625;
        animation: addToCartAnimation;  
        animation-duration: 100ms;
        animation-iteration-count: 1;
        animation-timing-function: linear; 
      }
    }
    #modal-add-btn:disabled {
      
      
    }

    @keyframes addToCartAnimation {
      from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    }
  }
}

#categoryModal {
  
  .category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .category-item {
      padding:5px;
      &:hover {
        background-color: black;
      }
      position: relative;
      img {
        height: auto;
        padding: 5px;
  
        &:hover {
          transform: scale(1.1);
          mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }
  
        &:hover + .img-title {
          display: block;
          transition: transform 0.2s;
          //transform: translate(-50%, -80%);
          font-weight: 700;
        }
      }
      .img-title {
        position: absolute;
        display: none;
        color: white;
        z-index: 2000;
        bottom: 0px;
        transform: translate(-50%, 0%);
        //top: 0px;
        font-size: 1.5em;
        
        left: 50%;
        pointer-events: none;
        text-align: center;
      }

      .like-btn {
        //position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s;
        opacity: 1;
        z-index: 2;
        width: 100%;
        .fa-heart{
          position: relative;
          font-size: var(--like-font-size);
          -webkit-text-stroke: 2px #e5e5e5;
          color: whitesmoke;
          transition: all ease-in-out;
          bottom: 0;
          z-index: 3;
        }
      }
      
      .like-btn:hover .fa-heart {
        color: red;
        -webkit-text-stroke: 1px red;
        animation: .5s linear burst; 
      }
      
      &.checked .fa-heart{
        color: red;
        -webkit-text-stroke: 1px red;
        animation: .5s linear burst; 
      }
    }
  }
}


.contact-form-wraper2 {
  background-color: #FFD880;
}

@keyframes burst{
  0%,10%{
      transform: scale(1);
      opacity: .5;
      color:lavender;
  }
  45%{
      transform: scale(.2) rotate(30deg);
      opacity: .75;
  }
  50%{
      transform: scale(2) rotate(-37.5deg);
      opacity: 1;
      color: red;
      text-shadow: 2px 2px 6px rgba(235, 9, 9, 0.5);
  }
  90%,95%{
      transform: scale(1) rotate(10deg);
      text-shadow: none;
  }
  100% {
      transform: rotate(-2.5deg);
  }

}


#likedProductsModal {
  .modal-body {
    max-height: 80vh;
    overflow: scroll;
    #cartProductsList {
      ul {
        li {
          background: #FFD880;
          border-radius: 10px;
          margin:5px;
          padding:5px;
          display: flex;
          justify-content: space-between;
          button {
            border:0;
            background-color: transparent;
            &:hover {
              color:red;
            }
          }
        }
      }
    }
  }
}