{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Catalog" %}{% endblock %}
{% block extra_head %}
<!-- css includes in head -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script src="https://kit.fontawesome.com/022c0fea0b.js" crossorigin="anonymous" defer></script>
<link rel="stylesheet" href="{%static 'assets/catalog/css/style.css' %}">
{% endblock extra_head%}

{% block content %}
<div class="catalog">

</div>

<div class="modal" id="catalogProductsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title  w-100">Modal title</h5>
                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-send-products-btn" class="btn btn-primary">שלח</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="catalogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title  w-100">Modal title</h5>
                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">

                <!--<button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>-->


                <button id="modal-prev-btn" class="btn btn-secondary"> הקודם </button>
                <button type="button" id="modal-add-btn" class="btn btn-primary">הוסף להצעת מחיר</button>
                <button id="modal-next-btn" class="btn btn-secondary"> הבא </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="categoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title  w-100">Category</h5>
                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">

                <!--<button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>-->

                <!--
                <button id="modal-prev-btn" class="btn btn-secondary"> הקודם </button>
                <button type="button" id="modal-add-btn" class="btn btn-primary">הוסף להצעת מחיר</button>
                <button id="modal-next-btn" class="btn btn-secondary" > הבא </button>
                -->
            </div>
        </div>
    </div>
</div>

<div class="modal" id="likedProductsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title  w-100">מוצרים שאהבתי</h5>
                <button type="button" class="close close-modal" data-dismiss="likedProductsModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="likedProductsForm">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-6">
                            <input type="hidden" name="taskName" id="taskName"
                                value="products-ec6bb117-c8fa-4a38-989a-ab0e0805e44e">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <div>
                                    <input type="text" class="form-control input-lg" name="name" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-Mail Address</label>
                                <div>
                                    <input type="email" class="form-control input-lg" name="email" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <div>
                                    <input type="tel" class="form-control input-lg" name="phone" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6" id="cartProductsList">
                            <h1>my products</h1>
                        </div>
                    </div>

                    <!--
                    <input type="text" name="name" id="id_name">
                    <input type="email" name="email" id="id_email">
                    <input type="tel" name="tel" id="id_tel">
                    <input type="text" name="products[]" id="">
                    -->


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="modal-add-btn" class="btn btn-primary">שלח</button>
                <button type="button" class="btn btn-secondary close-modal"
                    data-dismiss="likedProductsModal">סגור</button>
            </div>
        </div>
    </div>
</div>

<div class="contact-form-wraper2">
    <div class="contact-form-wraper">
        <form id="contact-form" action="{%url 'save-contact-form' '/testCatalog'%}" method="post" class="contact-form">
            {% csrf_token %}
            <input type="hidden" name="taskName" id="taskName" value="catalog-ec6bb117-c8fa-4a38-989a-ab0e0805e44e">
            <h2 class="form-header">לקבלת הצעת מחיר משתלמת ללא עלות וללא התחייבות השאירו פרטים ומיד נחזור אליכם
            </h2>
            {% bootstrap_form contactForm %}
            {% buttons %}
            <button type="submit" class="btn btn-success form-submit">לשיחת יעוץ ללא עלות וללא התחייבות השאירו
                פרטים</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{%endblock%}

{%block extra_body%}
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script src="{%static 'assets/catalog/js/catalog.js'%}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        updateProductsCart();
        albums = getAllAlbums();
        var catalogMarkup = ``;
        var catalogPreload = ``;
        var k = 0;
        for (var i = 0; i < albums.length; i++) {
            var albumMarkup = ``;
            album = albums[i];
            if (albums[i].is_public) {
                albumMarkup += `
                    <!--<div class="title">${album.title}</div>-->
                    <div class="title-wraper">
                        <button data-album-id="${album.id}" onclick="openCategoryModal(${album.id})" class="title btn">${album.title}</button>
                    </div>
                    <div class="container">
                        <div id="slick-slider-${i}" class="slick-slider">`
                albumPreload = ``;
                for (var j = 0; j < album.images_list.length; j++) {
                    var img = album.images_list[j];
                    albumMarkup += `
                        <div class="wraper-my-slick-slide">
                            <div data-album-id="${album.id}" data-my-slide-index="${k++}" data-prod-id="${img.id}" class="my-slick-slide shadow-lg">
                                <img data-lazy="${img.image_thumbnail}" alt="${img.description}" />
                                <div class="img-title">${img.title}</div>
                                <div class="like-btn" name="like-btn">
                                    <i name="like-btn" class="fa fa-heart"></i>
                                </div>
                            </div>
                            
                        </div>
                        `
                    albumPreload += `<link rel="prefetch" width="923px" height="715px" href="${img.image}" />`;
                }
                albumMarkup += `</div></div>`
            }
            catalogMarkup += albumMarkup;
            catalogPreload += albumPreload;
        }
        $('.catalog').html(catalogMarkup).append(catalogPreload);
        console.log(albums)
        var slisks = $('.slick-slider');
        
        for (var i = 0; i < slisks.length; i++) {


            var numberOfItems = $(slisks[i]).find('.my-slick-slide').length
            var isDots = true;
            if (numberOfItems > 20) {
                isDots = false;
            }
            $(slisks[i]).slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                dots: isDots,
                speed: 100,
                focusOnSelect: false,
                rtl: true,
                swipeToSlide: true,
                lazyLoad: 'ondemand',
                draggable: false,
                infinite: true,


                responsive: [{
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 3,
                    }
                }]
            });

        }

        $('.my-slick-slide').on('click', (e) => {
            if (e.target.getAttribute('name') == 'like-btn') {
                console.log('I like this products!');
                addClientLikeProduct(e.currentTarget.dataset.prodId);
                //$(e.currentTarget).addClass('checked');
                //$('#product-like-btn').prop("checked", true);
            } else {
                var prodId = parseInt(e.currentTarget.dataset.prodId);
                var albumId = parseInt(e.currentTarget.dataset.albumId);
                //var isAdded = e.currentTarget.dataset.isAdded;

                albums = getAllAlbums();
                var album = albums.find((val, idx, obj) => {
                    return val.id == albumId
                })
                var img = album.images_list.find((val) => {
                    return val.id == prodId
                });

                var colorMarkup = ``
                for (var i = 0; i < img.colors_list.length; i++) {
                    var col = img.colors_list[i];
                    colorMarkup += `<div class="color-box" style="background:${col.color};"></div>`;
                }

                var sizeMarkup = ``;
                for (var i = 0; i < img.sizes_list.length; i++) {
                    var size = img.sizes_list[i];
                    sizeMarkup += `<div class="size-box">${size.size}</div>`;
                }

                $('#catalogModal .modal-title').text(album.title);
                $('#catalogModal .modal-body').html(`
                <div class="inner-body">

                    <div class="product-detail">
                        <div class="product-title">${img.title}</div>
                        <hr>
                        <div class="product-description">${img.description.replace(/(?:\r\n|\r|\n)/g, '<br>') }</div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <div class="product-color ">${colorMarkup}</div>
                            </div>
                            <div class="col-6">
                                <div class="product-size">${sizeMarkup}</div>
                            </div>
                        </div>
                    </div>
                    <div class="img-wraper"><img id="catalog-image-${img.id}" src="${img.image}"/></div>
                </div>
                <div class="inner-footer">
                </div>
            `)
                $('#modal-next-btn').attr('onClick',
                    `$('.my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)+1}]').click();`
                    );
                $('#modal-prev-btn').attr('onClick',
                    `$('.my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)-1}]').click();`
                    );
                /*
                $('#modal-next-btn').click(function (e) {
                    console.log('click next', e);
                    $(`.my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)+1}]`).click();
                });*/
                $('#modal-prev-btn').click(function (e) {
                    console.log('click prev', e);
                    $(`.my-slick-slide[data-my-slide-index=${parseInt(e.currentTarget.dataset.mySlideIndex)-1}]`)
                        .click();
                });

                $('#modal-add-btn').val(prodId);
                if($(e.currentTarget).hasClass('checked')) {
                    $('#modal-add-btn').prop('disabled', true);
                    $('#modal-add-btn').text('נוסף להצעת מחיר');
                    $('#modal-add-btn').addClass('isAdded');
                }
                else {
                    $('#modal-add-btn').prop('disabled', false);
                    $('#modal-add-btn').text('הוסף להצעת מחיר');
                    $('#modal-add-btn').removeClass('isAdded');
                }
                /*
                if ($(e.currentTarget).data().isAdded) {
                    $('#modal-add-btn').prop('disabled', true);
                    $('#modal-add-btn').text('נוסף להצעת מחיר');
                    $('#modal-add-btn').addClass('isAdded');
                } else {
                    $('#modal-add-btn').prop('disabled', false);
                    $('#modal-add-btn').text('הוסף להצעת מחיר');
                    $('#modal-add-btn').removeClass('isAdded');
                }*/
                $('#modal-add-btn').click((e) => {
                    console.log('modal-add-btn clicked');
                    addClientLikeProduct(e.currentTarget.value)
                });

                $('#catalogModal').modal('show');
                $('#catalogModal .close-modal').click(function () {
                    console.log('#catalogModal > .close-modal');
                    $('#catalogModal').modal('hide');
                });

            }
            
        });


        





        task = myStorage.getItem('user_click_task');
        if (task == "catalog-ec6bb117-c8fa-4a38-989a-ab0e0805e44e") {
            console.log('show task catalog-ec6bb117-c8fa-4a38-989a-ab0e0805e44e');
            setTimeout(() => {
                //document.getElementById('contact-form').scrollIntoView();
                window.scrollTo(0, document.body.scrollHeight);
                //myStorage.setItem('user_click_task', undefined);
                myStorage.removeItem('user_click_task');
            }, 100);
        } else if (task == "products-ec6bb117-c8fa-4a38-989a-ab0e0805e44e") {
            loadProductsModal();

        }

        console.log('updateClientLikedUI');
        updateClientLikedUI();
    });
</script>
{%endblock%}



<!--
    credits:
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
-->