{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Main" %}{% endblock %}
{% block extra_head %}
<!-- css includes in head -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />

<link rel="stylesheet" href="{%static 'assets/catalog/css/style.css' %}">
{% endblock extra_head%}

{% block content %}
<div class="catalog">
    <!--
    {%for album in  catalogAlbums %}
    {%if album.is_public %}
    <div class="title">{{album}}</div>
    <div class="container">
        <div id="slick-slider-{{forloop.counter0}}" class="slick-slider">
            {%for img in album.images.all  %}
            <div class="my-slick-slide shadow-lg"><img data-lazy="{{img.image_thumbnail.url}}" alt="" /></div>
            {%endfor%}
        </div>
    </div>
    {%endif%}
    {%endfor%}
    -->
</div>

<div class="modal" id="catalogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close close-modal" data-dismiss="catalogModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">הוסף להצעת מחיר</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="catalogModal">Close</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block extra_body%}
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        albums = getAllAlbums();
        var catalogMarkup = ``;
        var catalogPreload = ``;
        for(var i = 0; i<albums.length; i++) {
            var albumMarkup = ``;
            album = albums[i];
            if(albums[i].is_public) {
                albumMarkup += `
                    <div class="title">${album.title}</div>
                    <div class="container">
                        <div id="slick-slider-${i}" class="slick-slider">`
                albumPreload = ``;
                for(var j = 0; j < album.images_list.length;j++) {
                    var img = album.images_list[j];
                    albumMarkup += `
                        <div data-album-id="${album.id}" data-prod-id="${img.id}" class="my-slick-slide shadow-lg">
                            <img data-lazy="${img.image_thumbnail}" alt="" />
                            <div class="img-title">${img.title}</div>
                        </div>`
                    albumPreload += `<link rel="prefetch" href="${img.image}" />`;
                }
                albumMarkup += `</div></div>`
            }
            catalogMarkup += albumMarkup;
            catalogPreload += albumPreload;
        }
        $('.catalog').html(catalogMarkup).append(catalogPreload);
        console.log(albums)
        var slisks = $('.slick-slider');
        for (var i = 0; i < slisks.length; i++) {


            var numberOfItems = $(slisks[i]).find('.my-slick-slide').length
            var isDots = true;
            if (numberOfItems > 20) {
                isDots = false;
            }
            $(slisks[i]).slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                dots: isDots,
                focusOnSelect: false,
                rtl: true,
                swipeToSlide: true,
                lazyLoad: 'ondemand',



                responsive: [{
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 3,
                    }
                }]
            });

        }

        $('.my-slick-slide').on('click',(e)=>{
            console.log(e.currentTarget);
            var prodId= parseInt(e.currentTarget.dataset.prodId);
            var albumId = parseInt(e.currentTarget.dataset.albumId);
            
            debugger;
            albums =  getAllAlbums();
            var album = albums.find((val,idx,obj)=>{console.log('val.id', val.id); return val.id == albumId})
            var img = album.images_list.find((val)=>{return val.id== prodId});

            var colorMarkup = ``
            for(var i = 0; i< img.colors_list.length; i++){ 
                var col = img.colors_list[i];
                colorMarkup += `<div class="color-box" style="background:${col.color};"></div>`;
            }

            var sizeMarkup = ``;
            for(var i =0; i<img.sizes_list.length;i++) {
                var size = img.sizes_list[i];
                sizeMarkup += `<div class="size-box">${size.size}</div>`;
            }

            $('#catalogModal .modal-title').text(img.title);
            $('#catalogModal .modal-body').html(`
                <div class="inner-body">

                    <div class="product-detail">
                        <div class="product-title">${img.title}</div>
                        <hr>
                        <div class="product-description">${img.description}</div>
                        <hr>
                        <div class="section-title">צבעים</div>
                        <div class="product-color">${colorMarkup}</div>
                        <hr>
                        <div class="section-title">מידות</div>
                        <div class="product-size">${sizeMarkup}</div>
                    </div>
                    <div class="img-wraper"><img src="${img.image}"/></div>
                    
                    
                </div>
            `)





            $('#catalogModal').modal('show');
            $('#catalogModal .close-modal').click(function() {
                console.log('#catalogModal > .close-modal');
                $('#catalogModal').modal('hide');
            });
        });


    });
</script>
{%endblock%}