{% extends "newBase.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Main" %}{% endblock %}
{% block extra_head %}
<!-- css includes in head -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
    crossorigin="anonymous" />
{% endblock extra_head%}

{% block content %}
<h1>hey</h1>
{%for album in  catalogAlbums %}
    <h3>{{album}}</h3>
    <div class="slick">
    {%for img in album.images.all  %}
        <div class="slick-in">
            <h6>{{img}}</h6>
            <img height="50px" src="{{img.image_thumbnail.url}}" />
        </div>
    {%endfor%}
    </div>
{%endfor%}
</div>
<!--
        <ul class="lightSlider" id="lightSlider-{{album.id}}">
        {%for img in album.images.all  %}
                <li>
                    <img height="50px" src="{{img.image_thumbnail.url}}"/>
                    <h1>{{img}}</h1>
                    <p>
                        {{img.description}}
                    </p>
                </li>
        {%endfor%}
        </ul>
        -->


{%endblock%}

{%block extra_body%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('.slick').slick({

    });
});
</script>
{%endblock%}