body {}

.ui-autocomplete {
    z-index: 9999999;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffd880;

    .nav-logo {
        width: auto;
        height: 30px;
    }
    .nav-link-home {
        padding-left: 20px;
    }

    #navbarDropdown {
        padding: 0;
        font-size: 2em;
        &::before,
        &::after {
            color: #fff;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }

        &::before {
            display: block;
            content: "\f0f3";
            font-family: "FontAwesome";
            transform-origin: top center;
        }

        &::after {
            font-family: Arial;
            font-size: 0.7em;
            font-weight: 700;
            position: absolute;
            top: -8px;
            right: -15px;
            padding: 1px 5px;
            line-height: 100%;
            border: 2px #fff solid;
            border-radius: 60px;
            background: #3498db;
            opacity: 0;
            content: attr(data-count);
            opacity: 0;
            transform: scale(0.5);
            transition: transform, opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }

        &.notify::before {
            animation: ring 1.5s ease;
        }

        &.show-count::after {
            transform: scale(1);
            opacity: 1;
        }


        @keyframes ring {
            0% {
                transform: rotate(35deg);
            }

            12.5% {
                transform: rotate(-30deg);
            }

            25% {
                transform: rotate(25deg);
            }

            37.5% {
                transform: rotate(-20deg);
            }

            50% {
                transform: rotate(15deg);
            }

            62.5% {
                transform: rotate(-10deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    }
}

#footer {
    background: #343b40;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;

    .copyright {
        text-align: center;

        strong {
            color: yellow;
        }
    }

    .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
}

.contact-form-wraper2 {
    //background-color: black;
    padding-top: 5px;

    //background-color: #5c6369;
    .contact-form-wraper {
        //background-color: #F0D57A;
        border-radius: 30px;
        //padding-top: 100px;

        .contact-form {
            margin: auto 80px;

            @media screen and (max-width: 490px) {
                margin: auto 10px;
            }

            .form-header {
                color: black;
                background-color: #ffca43;
                border-radius: 20px;
                padding-right: 10px;
                //margin-bottom: 80px;
                text-align: center;
                .mark-strong {
                    display:inline;
                    font-weight: 700;
                }
            }

            ::placeholder {
                color: black;
            }

            .form-control {
                border-radius: 1rem;
                background-color: rgb(209, 209, 209);
                margin-bottom: 1px;

            }

            .form-submit {
                display: block;
                margin: 0 auto;
            }
        }
    }
}