.ui-autocomplete {
  z-index: 9999999;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffd880;
}

.navbar .nav-logo {
  width: auto;
  height: 30px;
}

.navbar .nav-link-home {
  padding-left: 20px;
}

.navbar #navbarDropdown {
  padding: 0;
  font-size: 2em;
}

.navbar #navbarDropdown::before, .navbar #navbarDropdown::after {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar #navbarDropdown::before {
  display: block;
  content: "\f0f3";
  font-family: "FontAwesome";
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.navbar #navbarDropdown::after {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -8px;
  right: -15px;
  padding: 1px 5px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: #3498db;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.navbar #navbarDropdown.notify::before {
  -webkit-animation: ring 1.5s ease;
          animation: ring 1.5s ease;
}

.navbar #navbarDropdown.show-count::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  12.5% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  37.5% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  62.5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#footer {
  background: #343b40;
  padding: 5px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright strong {
  color: yellow;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

.contact-form-wraper2 {
  padding-top: 5px;
}

.contact-form-wraper2 .contact-form-wraper {
  border-radius: 30px;
}

.contact-form-wraper2 .contact-form-wraper .contact-form {
  margin: auto 80px;
}

@media screen and (max-width: 490px) {
  .contact-form-wraper2 .contact-form-wraper .contact-form {
    margin: auto 10px;
  }
}

.contact-form-wraper2 .contact-form-wraper .contact-form .form-header {
  color: black;
  background-color: #ffca43;
  border-radius: 20px;
  padding-right: 10px;
  text-align: center;
}

.contact-form-wraper2 .contact-form-wraper .contact-form .form-header .mark-strong {
  display: inline;
  font-weight: 700;
}

.contact-form-wraper2 .contact-form-wraper .contact-form ::-webkit-input-placeholder {
  color: black;
}

.contact-form-wraper2 .contact-form-wraper .contact-form :-ms-input-placeholder {
  color: black;
}

.contact-form-wraper2 .contact-form-wraper .contact-form ::-ms-input-placeholder {
  color: black;
}

.contact-form-wraper2 .contact-form-wraper .contact-form ::placeholder {
  color: black;
}

.contact-form-wraper2 .contact-form-wraper .contact-form .form-control {
  border-radius: 1rem;
  background-color: #d1d1d1;
  margin-bottom: 1px;
}

.contact-form-wraper2 .contact-form-wraper .contact-form .form-submit {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */